extend layout 

block content

    h1 #{title}

    if book_instances.length 
        p #[strong Delete the following bookinstances before attempting to delete this book!]

        ul
            each val in book_instances
                li
                    a(href=val.url) #{val._id} 

    else 
        p Do you really want to delete this book?

        form(action="", method="post")
            div.form-group
                input#bookid.form-control(type="hidden", name="bookid", required='true' value=book._id)
            button.btn.btn-primary(type="submit") Delete


