extends layout

block content
    h1.text-center Thank you for your purchase!

    .checkout

        p Your order has been received and is being processed. You will receive a confirmation email shortly.

        a.btn.btn-primary(href='/') Back to Home
