extend layout 

block content 

    h1 #{title}

    form(action="", method="post") 
        div.form-group
            input#genreid.form-control(type='hidden' name="genreid" required='true', value=genre_detail._id)
            input#newname.form-control(name="newname" required='true' value=genre_detail.name)
        button.btn.btn-primary(type="submit") Update
