/* Typography */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

/* Layout */
.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #f8f9fa;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

/* Navbar */
.navbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-brand {
  font-size: 1.25rem;
  font-weight: 700;
}

/* Footer */
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 2rem;
  background-color: #f8f9fa;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Custom */
.order-now {
  font-size: 1.5rem;
}
.order-now a {
  margin-right: 15px;
}
.order-now .btn-nav {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #333333;
  border: 2px solid #333333;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.order-now .btn-nav:hover {
  background-color: #333333;
  color: #ffffff;
}

.card {
  border: none;
  margin-bottom: 30px;
}

.card-img-top {
  height: 225px;
  width: 100%;
  display: block;
  object-fit: cover;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 700;
}

.card-text {
  margin-bottom: 1rem;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #5a6268;
}

.bg-dark {
  background-color: #343a40 !important;
}

.text-light {
  color: #f8f9fa !important;
}

.fa-2x {
  font-size: 2rem;
}

.about {
  text-align: justify;
}

.index-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.jumbotron {
  margin-bottom: 10px;
}

.menu h1 {
  text-align: center;
  margin: 20px;
}

.text-center {
  text-align: center;
  margin: 20px;
  margin-bottom: 40px;
}
